.header {
    padding: 20px 30px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
}

.header a {
    color: rgb(58, 47, 47);
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header a:hover {
    text-decoration: underline;

}

.nave-links a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nave-links a:hover {
    text-decoration: underline;
}

